{% extends 'layouts/base.html' %}
{% load static %}

{% block headAdd %}
    <link rel="stylesheet" href="css/ProyectoFundamentos.css">
{% endblock %}

{% block contenido %}
    <div class="container">
        <h1>Gestión de Actividades</h1>

        <form id="subject-form">
            <label for="subject-select">Selecciona la materia:</label>
            <select id="subject-select" required>
                <option value="">Seleccione una materia</option>
                <option value="Matemáticas">Matemáticas</option>
                <option value="Lenguaje">Lenguaje</option>
                <option value="Historia">Historia</option>
            </select>
            <button type="submit">Seleccionar Materia</button>
        </form>

        <form id="activity-form" style="display: none;">
            <input type="text" id="activity-name" placeholder="Nombre de la actividad" required>
            <input type="date" id="activity-start-date" placeholder="Fecha de inicio de la actividad" required>
            <input type="date" id="activity-end-date" placeholder="Fecha de finalización de la actividad" required>
            <textarea id="activity-description" placeholder="Descripción de la actividad" required></textarea>
            <button type="submit">Agregar Actividad</button>
        </form>


    </div>

{% endblock %}